body {
  background-color: #F6E9B2; /* Baggrundsfarve */
}

p, h1, h2, h3, h4, h5, h6 {
  color: #0A6847; /* Tekstfarve */
}

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: #0A6847;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
  color: #0A6847;
}

.month .next {
  float: right;
  padding-top: 10px;
  color: #0A6847;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 kolonner */
    gap: 10px; /* Afstand mellem firkanterne */
    padding: 20px; /* Indrykning for hele kalenderen */
    padding-top: 0%;
    justify-items: center; /* Centrer hver boks */
}
/* Grøn baggrund til dage med 10.000+ skridt */
.days li.green {
  background-color: #4CAF50; /* Grøn farve */
  color: #0A6847;
  border-color: #388E3C;
}

/* Rød baggrund til dage med under 10.000 skridt */
.days li.red {
  background-color: #F44336; /* Rød farve */
  color: #0A6847;
  border-color: #D32F2F;
}


.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 kolonner */
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    justify-items: center; /* Centrer hver ugedag */
}

.month {
    padding: 20px;
    background: #7ABA78;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
}

.weekdays li {
    display: inline-block;
    width: 50px; /* Samme bredde som dagene */
    height: 50px; /* Samme højde som dagene */
    line-height: 50px; /* Centrer tekst */
    text-align: center;
    font-size: 14px;
    margin: 20px; /* Øg afstanden mellem ugedage */
    padding-bottom: 0%;
    padding-top: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.days li {
    list-style-type: none;
    width: 70px; /* Bredde på firkanten */
    height: 70px; /* Højde på firkanten */
    display: flex; /* Brug flexbox til at centrere */
    align-items: center; /* Centrer lodret */
    justify-content: center; /* Centrer vandret */
    font-size: 16px; /* Tekststørrelse */
    color: #0A6847; /* Tekstfarve */
    border: 2px solid #0A6847; /* Kant omkring firkanten */ 
    border-radius: 10px; /* Runde hjørner */
    background-color: #f4f4f4; /* Baggrundsfarve */
}

.days li.past {
    background-color: #d4f7d4; /* Lys grøn farve for tidligere dage */
}

.days li.active {
    background-color: white; /* Hvid baggrund for den nuværende dag */
    font-weight: bold; /* Fed tekst */
}

.days li.empty {
    visibility: hidden; /* Skjul tomme felter */
}


/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}