.box {
    width: 150px; /* Boksens bredde */
    height: 150px; /* Boksens højde */
    background-color: transparent; /* Boksens baggrundsfarve */
    border: 2px solid #ccc; /* Boksens kant */
    border-radius: 10px; /* Afrundede hjørner */
    display: flex; /* Aktiver Flexbox */
    flex-direction: column; /* Laver en lodret (kolonne) retning */
    justify-content: center; /* Centrerer horisontalt */
    align-items: center; /* Centrerer vertikalt */
    text-align: center; /* Centrerer tekst indeni */
}

.box h1, .box h2 {
    margin: 0; /* Fjerner standard margin */
    padding: 0; /* Fjerner eventuel padding */
}

.box h1 {
    font-size: 50px;
}

.box p {
    font-size: 20px;
}

.box h2 {
    margin-top: 5px; /* Laver lidt afstand mellem h1 og h2 */
    font-size: 60px;
}

.container {
    display: flex; /* Gør containeren til en Flexbox */
    justify-content: space-evenly; /* Placer bokse med jævn afstand */
    align-items: center; /* Centrer boksene vertikalt */
    flex-wrap: wrap; /* Tillad, at boksene bryder linjen på mindre skærme */
    margin-top: 20px; /* Afstand til toppen */
}

.row {
    display: flex; /* Gør hver række til en Flexbox */
    flex-direction: row; /* Placer elementerne i en række */
    gap: 10px; /* Giv mellemrum mellem boksene */
}

.col {
    padding: 0%;
}

.container2 {
    display: flex;
    justify-content: center; /* Centrerer horisontalt */
    align-items: center; /* Centrerer lodret */
    height: 100vh; /* Gør containeren høj */
}

.image {
    position: absolute; /* Gør det muligt at placere billedet præcist */
    width: auto; /* Fast bredde */
    height: 300%; /* Bevarer billedets proportioner */
    left: 50%; /* Placerer billedet midt horisontalt */
    transform: translateX(-50%); /* Justerer billedet, så det er helt centreret horisontalt */
    border-radius: 50%; /* Afrundede hjørner, hvis du ønsker det */
    margin-top: 10%;
}   

.Text {
    font-size: 15px; /* Størrelse på tekst */
    margin-top: 20px; /* Afstand til billedet */
    text-align: center; /* Centrerer teksten horisontalt */
    margin-left: 30%; /* Fjern fast margin og centrér */
    margin-right: auto; /* Fjern fast margin og centrér */
    width: 100%; /* Sørg for, at teksten tager hele bredden */
}

#stepsChart {
    margin-top: 5%; /* Afstand til billedet */
    text-align: center; /* Centrerer teksten horisontalt */
    margin-right: auto; /* Fjern fast margin og centrér */
    width: 100%; /* Sørg for, at teksten tager hele bredden */
}
