body {
    background-color: #F6E9B2; /* Baggrundsfarve */
}

.navbar {
    background: linear-gradient(#7ABA78, #F6E9B2); /* Baggrundsfarve */ 
}

.nav-link, .navbar-brand {
    color: #0A6847; /* Tekstfarve */
    text-decoration: none; /* Fjern understregning */
    margin: 0 10px; /* Afstand mellem elementerne */
}

.nav-link:hover, .navbar-brand:hover {
    color: #138f64; /* Tekstfarve ved hover */
}

.box {
    width: 150px; /* Boksens bredde */
    height: 150px; /* Boksens højde */
    background-color: transparent; /* Boksens baggrundsfarve */
    border: 2px solid #ccc; /* Boksens kant */
    border-radius: 10px; /* Afrundede hjørner */
    display: flex; /* Aktiver Flexbox */
    flex-direction: column; /* Laver en lodret (kolonne) retning */
    justify-content: center; /* Centrerer horisontalt */
    align-items: center; /* Centrerer vertikalt */
    text-align: center; /* Centrerer tekst indeni */
}

#box1 {
    background-image: linear-gradient(45deg, #7ABA78, #F3CA52); /* Baggrundsfarve med gradient */
}

#box2 {
    background-image: linear-gradient(135deg, #F3CA52, #7ABA78); /* Baggrundsfarve med gradient */
}

.box h1, .box h2 {
    margin: 0; /* Fjerner standard margin */
    padding: 0; /* Fjerner eventuel padding */
}

.box h1 {
    font-size: 50px; /* Overskriftsstørrelse */
}

.box p {
    font-size: 20px; /* Tekststørrelse */
}

.box h2 {
    margin-top: 5px; /* Laver lidt afstand mellem h1 og h2 */
    font-size: 60px; /* Overskriftsstørrelse */
}

p, h1, h2, h3, h4, h5, h6 {
    color: #0A6847; /* Tekstfarve */
}

.container {
    display: flex; /* Gør containeren til en Flexbox */
    justify-content: space-evenly; /* Placer bokse med jævn afstand */
    align-items: center; /* Centrer boksene vertikalt */
    flex-wrap: wrap; /* Tillad, at boksene bryder linjen på mindre skærme */
    margin-top: 20px; /* Afstand til toppen */
}

.row {
    display: flex; /* Gør hver række til en Flexbox */
    flex-direction: row; /* Placer elementerne i en række */
    gap: 10px; /* Giv mellemrum mellem boksene */
}

.col {
    padding: 0%; /* Fjern padding */
}

.container2 {
    display: flex;
    justify-content: center; /* Centrerer horisontalt */
    align-items: center; /* Centrerer lodret */
    height: 100vh; /* Gør containeren høj */
}

.image {
    position: absolute; /* Gør det muligt at placere billedet præcist */
    height: 300%; /* Gør billedet større */
    width: auto; /* Sørg for, at billedet tager hele bredden */
    left: 50%; /* Placerer billedet midt horisontalt */
    transform: translateX(-50%); /* Justerer billedet, så det er helt centreret horisontalt */
    border-radius: 50%; /* Afrundede hjørner, hvis du ønsker det */
    margin-top: 10%; /* Afstand til toppen */
}   

.Text {
    font-size: 15px; /* Størrelse på tekst */
    margin-top: 20px; /* Afstand til billedet */
    text-align: center; /* Centrerer teksten horisontalt */
    margin-left: 30%; /* Fjern fast margin og centrér */
    margin-right: auto; /* Fjern fast margin og centrér */
    width: 100%; /* Sørg for, at teksten tager hele bredden */
}

#stepsChart {
    margin-top: 5%; /* Afstand til billedet */
    text-align: center; /* Centrerer teksten horisontalt */
    margin-right: auto; /* Fjern fast margin og centrér */
    width: 100%; /* Sørg for, at teksten tager hele bredden */
}
